body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: none; /* Remove background styles */
    overflow: hidden;
}

/* Styling for the button container */
.button-container {
    position: relative;
    z-index: 1;
}

/* Styling for the button */
#revealButton {
    margin-top: 1cm;
    color: #ffffff;
    font-family: "Courier New", Courier, monospace; 
    font-size: 20px;
    font-weight: 700;
    text-decoration: none; 
    background-color: #000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-transform: lowercase;
    font-variant: small-caps;
    cursor: pointer;
}

#revealButton:hover {
    background-color: #555;
}

/* Styling for the container */
.first-container {
    display: none; /* Initially hide the container */
    justify-content: center;
    align-items: center;
}

/* Styling for the content inside */
.first-container-inside {
    background: rgba(248, 249, 250, 0);
    text-align: center;
    color: #fff;
    text-shadow: 0 0 4px #fff, 0 0 10px #ff0, 0 0 20px #ff8000, 0 0 40px #f00, 2px 2px 2px rgba(206, 89, 55, 0);
    font: 700 2rem/1 "Courier New", Courier, monospace;
    text-decoration: none;
    border-radius: 160px;
    box-shadow: #FFF 0px 0px 25px, #FFF 0px 0px 2px, #FFF 0px 0px 3px, #FFF 0px 0px 4px, #FFF 0px 0px 5px, #FF2D95 0px 0px 10px, #FFF 0px 0px 12px, #FFF 0px 0px 15px;
}

.zoom-50 {
    zoom: 0.9;
    transform: scale(.6);
}

body.reveal {
    display: flex;
}
